shamefully-hoist=true
auto-install-peers=true
# Skip downloading extra CUDA binaries from NuGet during onnxruntime-node postinstall.
onnxruntime-node-install=skip
# registry=https://nexus.heleneto.work/repository/npm-group/
# strict-ssl=true